@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* This styles the scrollbar track */
::-webkit-scrollbar-track {
  background: #333; /* Dark color for the track */
  border-radius: 10px; /* Optional: Roundness of the track */
}

/* This styles the scrollbar thumb (the part that you drag) */
::-webkit-scrollbar-thumb {
  background: #888; /* Lighter color for the thumb for contrast */
  border-radius: 10px; /* Roundness of the thumb */
}

/* This styles the scrollbar itself (the entire scrollable area) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Change the color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover for the thumb */
}

/* Styling scrollbar for Firefox */
html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #333; /* Thumb and track color */
}



.underline-animation {
    position: relative;
  }
  
  .underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white; /* or any color you prefer */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .paralax-layer{
    position: absolute;
    bottom: 0;
    min-width: 117vw;
    min-height: 100vh;
    object-fit:cover;
    left: -10vw;
  }